.App {
  text-align: center;
}

.App-logo {
  height: 2vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Vehicle-display {
  border-style: outset;
  margin: 5px;
}

.Vehicle-info {
  border-style: outset;
  margin: 5px;
  background-color: lightgrey;
}

.Service-record {
  border-style: outset;
  margin: 5px
}